*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
:root{
    --josefin: "Josefin Sans", sans-serif;
    --para: #2A2C41;
    --bg: #fbfbfb;
    --placeholder: #D9D9D9;
    --btnBg: #FF5A2F;
}
body{
    font-family: var(--josefin);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--para);
    background-color: var(--bg);
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
span{
    display: inline-block;
}
ul,li{
    list-style-type: none;
}
.commonBtn{
    color: #FBFBFB;
    background: var(--btnBg);
    padding: 18px 45px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.commonBtn:hover{
    background-color: #c33510;
}
.sectionHead{
    font-size: 37px;
    color: var(--btnBg);
}
.sectionTitle{
    font-size: 54px;
    font-weight: 500;
    color: #1E1E1E;
}