#nav{
    width: 100%;
    background-color: var(--bg);
    background-color: #fbfbfb;
    padding-top: 40px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.navbar-nav{
    column-gap: 41px;
}
.nav-link{
    color: #1E1E1E;
    text-transform: capitalize;
}